*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



#nav {
    display: flex;
    justify-content: space-around;
    color: #344563;
    height: 50px;
    padding-top: 10px;
    flex-direction: row;
}
nav .logo {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #6070FF;
    letter-spacing: 3px;
}
nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}


.menu-toggle{
  display: none;
}

